


body{
    display: flex;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_aIvpinMnFndQydeBKQlFmz52hsv49Zv3_w&s);
    justify-content: center;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    

}
#display{
    color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 15%;
    background-color: aqua;
    width: 42%;
    padding: 30px 20px 30px 20px;
    height: auto;
    background: linear-gradient(130deg,rgba(0,1,2,3));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid;
    box-shadow: 0 8px 32px 0;

}
p{
    color: rgb(red, green, blue);
}